@model GeradorDRG.Models.AltaPaciente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AltaPaciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoMotivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoMotivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotivoAlta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotivoAlta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Configuracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Configuracao.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
