@model IEnumerable<GeradorDRG.Models.MotivoAlta>



@{
        int i = 0;
        foreach (var item in Model)
        {
            <div class="form-group">
                <input type="hidden" value="i" name="MotivoAlta.Index" />

                <input asp-for="@item.ConfiguracaoId" type="hidden" class="form-control" name="MotivoAlta.[@i].ConfiguracaoId" value="Model.ConfiguracaoId" />

                <label asp-for="@item.CodigoMotivo" for="MotivoAlta[@i].CodigoMotivo" class="control-label"></label>
                <input asp-for="@item.CodigoMotivo" class="form-control" name="MotivoAlta[@i].CodigoMotivo" id="MotivoAlta[@i].CodigoMotivo" />
                <span asp-validation-for="@item.CodigoMotivo" class="text-danger" data-valmsg-for="MotivoAlta[@i].CodigoMotivo"></span>

                <label asp-for="@item.DsMotivoAlta" class="control-label" for="MotivoAlta[@i].DsMotivoAlta">Motivo Alta</label>
                <input asp-for="@item.DsMotivoAlta" class="form-control" name="MotivoAlta[@i].DsMotivoAlta" id="MotivoAlta[@i].DsMotivoAlta" />
                <span asp-validation-for="@item.DsMotivoAlta" class="text-danger" data-valmsg-for="MotivoAlta[@i].DsMotivoAlta"></span>

                <label asp-for="@item.TipoDRG" class="control-label" for="MotivoAlta[@i].TipoDRG">Tipo da Alta</label>
                <select asp-for="@item.TipoDRG" asp-items="GeradorDRG.Helpers.TipoDRG.AltaTipos" class="form-control"></select>
                <span asp-validation-for="@item.TipoDRG" class="text-danger" data-valmsg-for="MotivoAlta[@i].TipoDRG"></span>
            </div>
            i++;
    }
}