@model IEnumerable<GeradorDRG.Models.TipoInternacao>
@{
    int i = 0;
    foreach (var item in Model)
    {
        <input type="hidden" value="i" name="MotivoAlta.Index" />
        <input asp-for="@item.ConfiguracaoId" type="hidden" value="Model.ConfiguracaoId" class="form-control" name="TiposInterncao.[@i].ConfiguracaoId" />

        <div class="form-group">
            <label asp-for="@item.CodigoTipo" for="TiposInterncao[@i].CodigoMotivo" class="control-label"></label>
            <input asp-for="@item.CodigoTipo" name="TiposInterncao[@i].CodigoMotivo" class="form-control" id="TiposInterncao[@i].CodigoMotivo" />
            <span asp-validation-for="@item.CodigoTipo" class="text-danger" data-valmsg-for="TiposInterncao[@i].CodigoMotivo"></span>
        </div>

        <div class="form-group">
            <label asp-for="@item.Tipo" class="control-label" for="TiposInterncao[@i].DsMotivoAlta"></label>
            <input asp-for="@item.Tipo" class="form-control" name="TiposInterncao[@i].Tipo" id="TiposInterncao[@i].Tipo" />
            <span asp-validation-for="@item.Tipo" class="text-danger" data-valmsg-for="TiposInterncao[@i].Tipo"></span>
        </div>

        <div class="form-group">
            <label asp-for="@item.TipoDRG" class="control-label" for="TiposInterncao[@i].TipoDRG"></label>
            <select asp-for="@item.TipoDRG" asp-items="GeradorDRG.Helpers.TipoDRG.InternacaoTipos" class="form-control" name="TiposInterncao[@i].Tipo"></select>
            <span asp-validation-for="@item.TipoDRG" class="text-danger" data-valmsg-for="TiposInterncao[@i].TipoDRG"></span>
        </div>
        i++;
    }
}
