@model IEnumerable<GeradorDRG.Models.Configuracao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BancoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BancoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BancoSenha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BancoSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodDRG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeDRG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UtilizaWebService)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebServiceUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebServiceSenha)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sistema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BancoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BancoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BancoSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BancoSID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodDRG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDRG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilizaWebService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebServiceUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebServiceSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banco.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sistema.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
